.message {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    &__container {
        background: #c2185b;
        border-radius: 25px;
        padding: 25px;
        margin: 25px;
        &__block {
            font-size: 1.3em;
            list-style-type: none;
            &__name {
                font-size: 1.5em;
            }
        }
    }
}

.game {
    position: fixed;
    width: 100%;
    top: 165px;
    height: calc(100% - 380px);
    display: flex;
    justify-content: center;
    align-items: center;
    &__container {
        max-width: 690px;
        max-height: 700px;
        border: 15px solid #c2185b;
        background: #c2185b;
        border-radius: 25px;
    }
    &__col {
        margin: 15px;
        padding: 15px;
        background: #c2185b;
        cursor: pointer; 
        &__cell {
            background: #303030;
            border-radius: 50%;
            width: 64px;
            height: 64px;
        }
    }
    .highlighted {
        background: #da437f;
        transition: .2s;
    }   
    .coin {
        border-radius: 50%;
        width: 64px;
        height: 64px;
    }
}

.score {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    &__container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 25px;
        &__block {
            width: calc(50% - 65px);
            padding: 25px;
            border-radius: 25px;
            font-size: 1.3em;
            list-style-type: none;
            &__name {
                font-size: 1.5em;
                margin-bottom: 15px;
            }
        }
    }
}

.reload {
    cursor: pointer;
    transition: .2s;
    &:hover {
        transform: scale(1.1);
        background: #f0307b;
    }
    .button {
        font-weight: bold;
        margin: 2px 0 0 0;
    }
}

@media screen and (max-width: 768px) {
    .game {
        &__container {
          border-radius: 0;
        }
        &__col {
            margin: 10px;
            padding: 10px;
            &__cell {
                width: 8vw;
                height: 8vw;
            }
        }
        .coin {
            width: 8vw;
            height: 8vw;
        }
    }
    .message__container {
        margin: 0;
        width: 100%;
        border-radius: 0;
        text-align: center;
        padding: 5px 0;
    }
    .score {
        &__container {
            margin: 0;
            font-size: 0.8em;
            justify-content: space-between;
            &__block {
                width: calc(50vw - 55px);
                border-radius: 0;
            }
        }
    }
}