$grey: #303030;

$dark: #E80F88;
$dark-variant: #AF0171;
$dark-background: #4C0033;
$dark-field: rgba(232, 15, 136, 0.1);
$dark-disabled-button-text: $dark-background;
$dark-disabled-button: rgba(232, 15, 136, 0.2);
$dark-text: whitesmoke;
$dark-yellow: #5BDB4B;
$dark-blue: #5690DB;

$light: #F2789F;
$light-variant:#F999B7;
$light-background: #FEE3EC;
$light-field: rgba(242, 120, 159, 0.1);
$light-disabled-button-text: $light-background;
$light-disabled-button: rgba(242, 120, 159, 0.2);
$light-text: #303030;
$light-yellow: #4BDB5A;
$light-blue: #5678DB;