$grey: #303030;

$dark: #E80F88;
$dark-variant: #AF0171;
$dark-background: #4C0033;
$dark-field: rgba(232, 15, 136, 0.1);
$dark-disabled-button-text: $dark-background;
$dark-disabled-button: rgba(232, 15, 136, 0.2);
$dark-text: whitesmoke;
$dark-yellow: #fdbd2f;
$dark-red: #de0f0f;
$dark-yellow-coin: radial-gradient(circle, #fdbd2f 0%, #fdbd2f 55%, #e29c00 60%, #e29c00 100%);
$dark-red-coin: radial-gradient(circle, #de0f0f 0%, #de0f0f 55%, #b60505 60%, #b60505 100%);
;

$light: #F2789F;
$light-variant:#F999B7;
$light-background: #FEE3EC;
$light-field: rgba(242, 120, 159, 0.1);
$light-disabled-button-text: $light-background;
$light-disabled-button: rgba(242, 120, 159, 0.2);
$light-text: #303030;
$light-yellow: #fdbd2f;
$light-red: #de0f0f;
$light-yellow-coin: radial-gradient(circle, #fdbd2f 0%, #fdbd2f 55%, #e29c00 60%, #e29c00 100%);
$light-red-coin: radial-gradient(circle, #de0f0f 0%, #de0f0f 55%, #b60505 60%, #b60505 100%);