.navbar {
    &__row {
        justify-content: center;
    }
    &__title {
        font-weight: bold;
        margin: 0;
        cursor: pointer;
    }
    &__logo {
        width: 54px;
        margin-right: 20px;
        cursor: pointer;
    }
}