@import "./assets/scss/color";
@import "./assets/scss/theme";

body {
    margin: 0;
}
h2 {
    text-align: center;
}
.yellow {
    background: $yellow!important;
    color: $grey;
}
.blue {
    background: $blue!important;
    color: $grey;
}